<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mess_Locator"
        tools:targetApi="31">
        <activity
            android:name=".Owner_Home"
            android:exported="true" />
        <activity
            android:name=".Owner_signup"
            android:exported="false" />
        <activity
            android:name=".SignupStudent"
            android:exported="false" />
        <activity
            android:name=".Signupowner"
            android:exported="false" />
        <activity
            android:name=".activity_mybutton"
            android:exported="false" />
        <activity
            android:name=".User_signup"
            android:exported="true" />
        <activity
            android:name=".owner_login"
            android:exported="true" />

        <activity
            android:name=".user_login1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".User_selection"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>